html{
    background-color: #85898e;
}
#main_head_font{
    font-size: 28px;
    font-weight: 700;
}
#profile_image {
    border-radius: 50%;
}

.headersColor{
    color: #91c8ff;
}
.boldText {
    font-weight: 700;
    color:#ede507;
}

.font_italic{
    font-style: italic;
}

.link_color{
    color: #3266a8;
    text-decoration: none;
}

.link_color:visited{
    color: #3266a8;
}

.first_letter_decoration::first-letter {
    font-size: 1.5em;
    color: #8A2BE2;
}
.link_color:hover {
    text-decoration: underline;
}